@import "prismjs/themes/prism.css";

@tailwind utilities;
@tailwind base;
@tailwind components;

* {
	font-family: "Geist", sans-serif;
	user-select: none;
}

:root {
	--accent-color: rgb(142, 212, 89);
	--accent-light-color: rgb(96, 199, 16);
	--coor: #8fd45a6c;
	--code-bg-color: #27282c;
}

/* PrismJS <pre> block styling */
pre[class*="language-"] {
	height: 450px;
	background-color: transparent !important;
	padding: 0 8px !important;
	margin: 0 !important;
	border-radius: 6px;

	/* Preserve indentation for Python */
	white-space: pre;
	overflow-x: auto; /* show horizontal scroll only when needed */
	overflow-y: auto; /* vertical scroll only when needed */
	tab-size: 4;
	-moz-tab-size: 4;
}

/* PrismJS <code> block styling */
code[class*="language-"] {
	display: block;
	white-space: inherit; /* inherit behavior from <pre> */
	font-family: monospace, monospace;
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: var(--accent-color) transparent;
}

/* Scrollbar styling (Webkit browsers) */
pre[class*="language-"]::-webkit-scrollbar {
	width: 8px;
	height: 6px;
}

pre[class*="language-"]::-webkit-scrollbar-track {
	background: #f5f5f5;
	border-radius: 100vw;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

pre[class*="language-"]::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 100vw;
	background-clip: content-box;
	transition: background-color 0.3s ease;
}

@layer base {
	.box {
		box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
			rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	}
	.gradient {
		background: linear-gradient(220.55deg, #b9a14c 0%, #000000 100%);
	}
}
